.modals {
    // position: fixed;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    padding-bottom: 30px;

    .modal{
        z-index: 10;
    }
}

    .userInfo {
        width: 1020px;
        margin: 0 auto;
        padding-top: 50px;
        font-family: "Raleway", sans-serif !important;

        .user-name {
            font-size: 100px;
            font-weight: bolder;
            font-family: "Raleway", sans-serif;
            font-weight: 800;
            background-color: #20bf55;
            background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .user-nickname {
            font-size: 40px;
            font-family: "Raleway", sans-serif;
            margin-bottom: 50px;
            font-weight: 700;
            background-image: linear-gradient(315deg, #4f2727, #01baef);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .user-box-wrapper {
            display: flex;
            justify-content: space-between;

            .user-box-style {
                padding: 15px;
                height: fit-content;
                border: 2px solid #0071e3;
                border-radius: 10px;
                width: 450px;
                font-family: "Raleway", sans-serif;

                .user-box-title {
                    font-weight: 800;
                    margin-bottom: 15px;
                    font-size: 28px;
                    font-family: "Raleway", sans-serif;

                    background-color: #7f53ac;
                    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);

                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                    text-align: center;
                }

                p {
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .user-static-items {
                        font-size: 24px;
                        font-weight: bold;
                    }
                    .user-items {
                        font-family: "Raleway", sans-serif;

                        font-weight: bold;
                        font-size: 20px;
                        text-align: right;
                        width: 200px;
                    }
                    .user-address-item {
                        background-color: #2a2a72;
                        background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);

                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
        }

        .page-btn-wrap-user {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

// items
.bg-blur {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000070;
    backdrop-filter: blur(5px);
    z-index: 5;

}
