<template>
  <div class="home">
    <h1 class="home-title">Facebook</h1>
    <searchForm @SearchedTask="searchTaskFunc" />
    <AddUserForm @NewUserPack="NewUserFunc"/>

    <div  v-if="this.usersCopy.length">
      <transition-group class="user-wrapper" name="fade">
        <div class="user-wrap" v-for="user in usersCopy" :key="user.id">
          <h3 class="user-name">{{ user.name }}</h3>
          <div class="user-data-wrap">
            <p class="user-data">Company: {{ user.company.name }}</p>
            <p class="user-data">Phone: {{ user.phone }}</p>
            <p class="user-data">Website: {{ user.website }}</p>
          </div>
          <div class="user-btns-wrap">
            <button class="user-btns" @click="deleteUser(user.id)">
              Delete
            </button>
            <button class="user-btns" @click="editItem(user)">Edit</button>
          </div>

          <router-link :to="'user/' + user.id">
            <button class="user-btn">Подробнее</button>
          </router-link>
        </div>
      </transition-group>
    </div>
    <div v-else>
      <h2>Тут пусто</h2>
    </div>
    <div class="page-btn-wrap">
      <router-link class="page-link-btn" to="/about">О нас </router-link>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import searchForm from "../components/searchForm.vue";
import AddUserForm from "../components/AddUserForm.vue";


export default {
  name: "Home",
  data: () => {
    return {
      users: [
        {
          id: 1,
          name: "Leanne Graham",
          username: "Bret",
          email: "Sincere@april.biz",
          address: {
            street: "Kulas Light",
            suite: "Apt. 556",
            city: "Gwenborough",
            zipcode: "92998-3874",
            geo: {
              lat: "-37.3159",
              lng: "81.1496",
            },
          },
          phone: "1-770-736-8031 x56442",
          website: "hildegard.org",
          company: {
            name: "Romaguera-Crona",
            catchPhrase: "Multi-layered client-server neural-net",
            bs: "harness real-time e-markets",
          },
        },
        {
          id: 2,
          name: "Ervin Howell",
          username: "Antonette",
          email: "Shanna@melissa.tv",
          address: {
            street: "Victor Plains",
            suite: "Suite 879",
            city: "Wisokyburgh",
            zipcode: "90566-7771",
            geo: {
              lat: "-43.9509",
              lng: "-34.4618",
            },
          },
          phone: "010-692-6593 x09125",
          website: "anastasia.net",
          company: {
            name: "Deckow-Crist",
            catchPhrase: "Proactive didactic contingency",
            bs: "synergize scalable supply-chains",
          },
        },
        {
          id: 3,
          name: "Clementine Bauch",
          username: "Samantha",
          email: "Nathan@yesenia.net",
          address: {
            street: "Douglas Extension",
            suite: "Suite 847",
            city: "McKenziehaven",
            zipcode: "59590-4157",
            geo: {
              lat: "-68.6102",
              lng: "-47.0653",
            },
          },
          phone: "1-463-123-4447",
          website: "ramiro.info",
          company: {
            name: "Romaguera-Jacobson",
            catchPhrase: "Face to face bifurcated interface",
            bs: "e-enable strategic applications",
          },
        },
        {
          id: 4,
          name: "Patricia Lebsack",
          username: "Karianne",
          email: "Julianne.OConner@kory.org",
          address: {
            street: "Hoeger Mall",
            suite: "Apt. 692",
            city: "South Elvis",
            zipcode: "53919-4257",
            geo: {
              lat: "29.4572",
              lng: "-164.2990",
            },
          },
          phone: "493-170-9623 x156",
          website: "kale.biz",
          company: {
            name: "Robel-Corkery",
            catchPhrase: "Multi-tiered zero tolerance productivity",
            bs: "transition cutting-edge web services",
          },
        },
        {
          id: 5,
          name: "Chelsey Dietrich",
          username: "Kamren",
          email: "Lucio_Hettinger@annie.ca",
          address: {
            street: "Skiles Walks",
            suite: "Suite 351",
            city: "Roscoeview",
            zipcode: "33263",
            geo: {
              lat: "-31.8129",
              lng: "62.5342",
            },
          },
          phone: "(254)954-1289",
          website: "demarco.info",
          company: {
            name: "Keebler LLC",
            catchPhrase: "User-centric fault-tolerant solution",
            bs: "revolutionize end-to-end systems",
          },
        },
        {
          id: 6,
          name: "Mrs. Dennis Schulist",
          username: "Leopoldo_Corkery",
          email: "Karley_Dach@jasper.info",
          address: {
            street: "Norberto Crossing",
            suite: "Apt. 950",
            city: "South Christy",
            zipcode: "23505-1337",
            geo: {
              lat: "-71.4197",
              lng: "71.7478",
            },
          },
          phone: "1-477-935-8478 x6430",
          website: "ola.org",
          company: {
            name: "Considine-Lockman",
            catchPhrase: "Synchronised bottom-line interface",
            bs: "e-enable innovative applications",
          },
        },
        {
          id: 7,
          name: "Kurtis Weissnat",
          username: "Elwyn.Skiles",
          email: "Telly.Hoeger@billy.biz",
          address: {
            street: "Rex Trail",
            suite: "Suite 280",
            city: "Howemouth",
            zipcode: "58804-1099",
            geo: {
              lat: "24.8918",
              lng: "21.8984",
            },
          },
          phone: "210.067.6132",
          website: "elvis.io",
          company: {
            name: "Johns Group",
            catchPhrase: "Configurable multimedia task-force",
            bs: "generate enterprise e-tailers",
          },
        },
        {
          id: 8,
          name: "Nicholas Runolfsdottir V",
          username: "Maxime_Nienow",
          email: "Sherwood@rosamond.me",
          address: {
            street: "Ellsworth Summit",
            suite: "Suite 729",
            city: "Aliyaview",
            zipcode: "45169",
            geo: {
              lat: "-14.3990",
              lng: "-120.7677",
            },
          },
          phone: "586.493.6943 x140",
          website: "jacynthe.com",
          company: {
            name: "Abernathy Group",
            catchPhrase: "Implemented secondary concept",
            bs: "e-enable extensible e-tailers",
          },
        },
        {
          id: 9,
          name: "Glenna Reichert",
          username: "Delphine",
          email: "Chaim_McDermott@dana.io",
          address: {
            street: "Dayna Park",
            suite: "Suite 449",
            city: "Bartholomebury",
            zipcode: "76495-3109",
            geo: {
              lat: "24.6463",
              lng: "-168.8889",
            },
          },
          phone: "(775)976-6794 x41206",
          website: "conrad.com",
          company: {
            name: "Yost and Sons",
            catchPhrase: "Switchable contextually-based project",
            bs: "aggregate real-time technologies",
          },
        },
        {
          id: 10,
          name: "Clementina DuBuque",
          username: "Moriah.Stanton",
          email: "Rey.Padberg@karina.biz",
          address: {
            street: "Kattie Turnpike",
            suite: "Suite 198",
            city: "Lebsackbury",
            zipcode: "31428-2261",
            geo: {
              lat: "-38.2386",
              lng: "57.2232",
            },
          },
          phone: "024-648-3804",
          website: "ambrose.net",
          company: {
            name: "Hoeger LLC",
            catchPhrase: "Centralized empowering task-force",
            bs: "target end-to-end models",
          },
        },
      ],
      usersCopy: [],
    };
  },
  components: { searchForm, AddUserForm },

  methods: {
    searchTaskFunc: function (text) {
      this.usersCopy = this.users.filter((item) =>
        item.name.toLowerCase().trim().includes(text.toLowerCase().trim())
      );
      console.log(this.usersCopy);
    },
    deleteUser: function (id) {
      this.users = this.users.filter((item) => item.id !== id);
      this.usersCopy = this.users;
    },
    editItem: function (user) {
      this.$root.$emit("ShowEditModalToAll", user);
    },
    NewUserFunc: function(user) {
      this.users.push(user)
    }
  },
  mounted() {
    this.usersCopy = this.users;
  },
};
</script>

<style>
.home{
  padding-bottom: 30px;
}
.page-btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 232px;
  height: 42px;
  background: #0071e3;
  border-radius: 4px;
  color: white;
  margin: 0 5px;
}
.home-title {
  text-align: center;
  margin-bottom: 53px;
}
.user-wrap {
  background: #f0f0f0;
  border: 1px solid #007fff;
  border-radius: 10px;
  padding: 25px;
}
.user-wrapper {
  display: grid;
  max-width: 1000px;
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-rows: 193px; */
  grid-gap: 24px 20px;
  margin: 0 auto 55px;
}
.user-name {
  font-size: 18px;
  /* margin: 0; */
  margin-bottom: 15px;
}
.user-data {
  font-size: 14px;
  font-weight: bold;
  color: #0000008c;
  line-height: 14 px;
}
.user-btn {
  width: 100%;
  height: 42px;
  background-color: #0071e3;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  border: none;
}
.user-data-wrap {
  margin-bottom: 24px;
}
.user-btns {
  background-color: #007fff;
  border: none;
  height: 30px;
  padding: 0 20px;
  color: white;
  border-radius: 5px;
}
.user-btns:nth-child(1) {
  background-color: #ff1500;
}
.user-btns:nth-child(2) {
  background-color: #ffe100;
  color: black;
}
.user-btns-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
</style>
