<template>
  <div class="addFormWrap">
    <input type="text" v-model="addFormNameValue" placeholder="Name" />
    <input type="text" v-model="addFormCompanyValue" placeholder="Company" />
    <br /><br />
    <div class="addFormInput-wrap">
      <input type="text" v-model="addFormPhoneValue" placeholder="Phone" />
      <input type="text" v-model="addFormWebsiteValue" placeholder="Website" />
    </div>
    <br />

    <button @click="clearAddFormValue" class="add-clear-btn add-user-btn">
      Add User
    </button>
  </div>
</template>

<script>
export default {
  name: "addFormWrap",
  data: () => {
    return {
      addFormNameValue: "",
      addFormCompanyValue: "",
      addFormPhoneValue: "",
      addFormWebsiteValue: "",
    };
  },
  methods: {
    clearAddFormValue: function () {
      if (
        this.addFormNameValue.length > 0 &&
        this.addFormCompanyValue.length > 0 &&
        this.addFormWebsiteValue.length > 0 &&
        this.addFormPhoneValue.length > 0
      ) {
        let newUser = {
          id: Math.floor(Math.random() * 1000),
          name: this.addFormNameValue,
          company: {name: this.addFormCompanyValue},
          phone: this.addFormPhoneValue,
          website: this.addFormPhoneValue,
        };
        this.$emit("NewUserPack", newUser);
          this.addFormNameValue = "";
          this.addFormPhoneValue = "";
          this.addFormCompanyValue = "";
          this.addFormWebsiteValue = "";
      } else{
          alert('Добавьте информацию')
      }

    },
  },
};
</script>

<style>
.addFormWrap {
  width: fit-content;
  margin: 20px auto;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.addFormWrap input {
  width: 200px;
  height: 30px;
  padding: 0 5px;
  border-radius: 5px;
  border: 2px solid #007fff;
  margin: 0 5px;
}
.add-clear-btn {
  height: 30px;
  background-color: #007fff;
  border-radius: 5px;
  padding: 0 20px;
  border: none;
  color: white;
  display: block;
  margin-left: 5px;
}
.addFormInput-wrap {
  /* margin-bottom: 10px; */
}
.add-user-btn {
  display: block;
  margin: 0 auto;
}
</style>