<template>
  <div class="modals">
    <transition class="fade">
      <div class="bg-blur" v-if="modalActive"></div>
    </transition>
    <transition name="fade">
      <div class="modal modal-edit" v-if="editModal">
        <div class="close" @click="closeModal">
          <img src="../assets/211651_close_round_icon.png" height="16" alt="" />
        </div>
        <h2>Edit element</h2>

        <input type="text" placeholder="name" v-model="UserToUpdate.name" />
        <div class="modal-btn-wrap">
          <button @click="saveEdit()">Save</button>
          <button @click="closeModal()">Go back</button>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      editModal: false,
      modalInputValue: "",
      UserToUpdate: {},
      modalActive: false,
    };
  },
  methods: {
    closeModal: function () {
      this.editModal = !this.editModal;
      this.modalActive = !this.modalActive;
    },
    saveEdit: function () {
       console.log(this.UserToUpdate);
    },
    // saveNewEdit: function() {
    //     this.$root.$emit('UpdateMyEdit', this.modalInputValue)
    // }
  },
  mounted() {
    this.$root.$on("ShowEditModalToAll", (user) => {
      this.closeModal();
      this.UserToUpdate = user;
    });
  },
};
</script>

<style>
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #ffffff;
  padding: 30px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.modal .close {
  position: absolute;
  right: 24px;
  top: 24px;
}
.modal h2 {
  margin-top: 0;
  margin-bottom: 10px;
}
.modal input {
  width: 250px;
  display: block;
  height: 40px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid blue;
  margin-bottom: 15px;
}
.modal-btn-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 10px;
}
.modal button {
  /* padding:  3px 5px; */
  height: 40px;
  background-color: #007fff;
  border-radius: 5px;
  color: whitesmoke;
  border: none;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>