<template>
  <div class="search-wrap">
      <input type="text" v-model="searchValue" placeholder="Search Task" @keyup="SearchTask()">
      <button @click="clearSearchValue" class="search-clear-btn">Clear</button>
  </div>
</template>

<script>
export default {
    data: () => {
        return{
            searchValue: ''
        }
    },
    methods: {
        SearchTask: function() {
            this.$emit("SearchedTask", this.searchValue);
        },
        clearSearchValue: function() {
            this.searchValue = ''
        }
    }
}
</script>

<style>
.search-wrap{
    width: fit-content;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-wrap input{
        width: 200px;
        height: 30px;
        padding: 0 5px;
        border-radius: 5px;
        border: 2px solid #007fff;
    }
.search-clear-btn{
    height: 30px;
    background-color: #007fff;
    border-radius: 5px;
    padding: 0 20px;
    border: none;
    color: white;
    display: block;
    margin-left: 5px;
}
</style>