<template>
  <div id="app">
    <div id="nav">
      <!-- <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> |
      <router-link to="/user">More</router-link> -->
      <modals/>
    </div>
    <router-view />
  </div>
</template>

<script>
import '../css/index.css'
import Modals from './components/Modals.vue'

export default {
  data: () => {
    return {};
  },
  components: {
    Modals
  }
};
</script>


<style>
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/Gilroy-Regular.ttf");
}
* {
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Gilroy";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
</style>
